/* section {
  /* background: url(./images/bank.jpeg) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
} */

#About-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    color: aliceblue;
    width: 100%;
    height: auto;
}

#About-container {
    background: #9cd1e9;
    background-position: center;
    background-size: cover;
}

#Service-container {
    height: 100vh;
    overflow: auto;
    background-color: #9cd1e9;
}

#history {
    background: #3498db;
    height: 100vh;
    overflow: auto;
    background-color: #9cd1e9;
}

#Transaction-container {
    background: #9cd1e9;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100vh;
}

#Service-container .service {
    display: inline-block;
    width: 20%;
    justify-content: center;
    text-align: center;
}

#history .transaction_history {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
}

#history .transaction_history h1 {
    width: 100%;
    text-align: center;
    padding-top: 90px;
    font-size: 30px;
    color: #070606e5;
    margin-bottom: 0;
}

#About-container h1 {
    color: black;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
}

#Service-container h1 {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
    color: #0f0e0e;
}

#Transaction-container h1 {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
    color: black;
}

#About-container .about {
    width: 80%;
    text-align: left;
    align-items: center;
    margin-left: 10%;
    padding: 40px;
    padding-bottom: 50px;
    font-size: 120%;
    color: #1e4d92;
    line-height: 2;
}

#About-container .about b {
    color: rgb(21, 21, 24);
    font-size: 30px;
    margin-left: 0;
}


/* .service {
  text-align: left;
  padding: 20px;
  width: 60%;
  margin-left: 30%;
} */

.service .banking {
    color: #b3a8a8;
    padding: 10px;
    text-decoration: dotted;
    text-align: left;
    font-size: 20px;
}

.service h2 {
    color: rgb(175, 80, 51);
    font-size: 20px;
    padding: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    border-collapse: separate;
    border: solid black 1px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

td,
th {
    text-align: left;
    padding: 20px;
    border-left: solid white 1px;
    border-top: solid white 1px;
    font-size: 20px;
    cursor: pointer;
}

tr {
    background-color: #9cd1e9;
}

th {
    text-align: left;
    border-bottom: 1px solid #fff;
    background-color: #b3a8a8;
    color: black;
}

tr:hover {
    background: transparent;
    color: aliceblue;
}

table th:hover {
    color: gray;
    transition: 1s transform ease-in-out;
}

table th:hover {
    color: black;
    transform: scale(1.1);
}

#Transaction-container .content {
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: center;
    padding-left: 4%;
    width: 100%;
}

#Transaction-container .content img {
    width: 100%;
    max-width: 400px;
    height: 150px;
    margin-top: 55%;
    border-radius: 50%;
}

#Transaction-container .content p {
    color: black;
    text-align: center;
    font-size: 20px;
}

#Transaction-container .content .user-icon {
    padding-left: 7%;
    padding-right: 8%;
}

#Transaction-container .content .user-icon:hover {
    cursor: pointer;
    transition: 0.5s transform ease-in-out;
}

#Transaction-container .content .user-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media screen and (max-width: 690px) and (min-width: 300px) {
    #Transaction-container .content {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        width: 95%;
        height: auto;
        overflow: hidden;
    }
    .leftside img {
        opacity: 0;
    }
    .rightside {
        left: 10%;
    }
}

@media screen and (max-width: 890px) and (min-width: 411px) {
    .user_info {
        left: 0;
    }
    .leftside img {
        opacity: 0;
    }
}

@media screen and (max-width: 1005px) {
    .leftside img {
        opacity: 0;
    }
    .rightside {
        left: 0;
    }
}

#index {
    background-color: black;
    display: flex;
    height: 100vh;
}

.leftside {
    width: 40%;
    height: auto;
    overflow: hidden;
    margin-top: 20px;
}

.leftside img {
    width: 80%;
    height: 50%;
    margin-top: 27%;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    margin-left: 6rem;
}

.rightside {
    width: 55%;
    height: 300px;
    color: white;
    text-align: center;
    margin-top: 15%;
    padding: 30px;
    margin-left: 6rem;
}

.rightside h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
}

.rightside p {
    font-size: 1.1rem;
    padding: 30px 0;
}

.rightside button {
    font-size: 17px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(57deg, #00c6a7, #1e4d92);
    border-radius: 4px 4px 4px 4px;
    padding: 20px 35px;
}

.rightside button:hover {
    background: linear-gradient(57deg, #1e4d92, #00c6a7);
}

#add_user {
    background-color: #C48793;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 20px;
    height: 100%;
}

.container1 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    width: 500px;
    margin-top: 120px;
    margin-bottom: 20px;
    height: 800;
}

.form {
    padding: 30px 45px;
}

h2 {
    color: rgb(80, 80, 75);
    text-align: center;
    margin: 0 0 20px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: darkgray;
    display: block;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.form-control input:focus {
    outline: 0;
    border: 2px solid black;
}

.form-control.success input {
    border-color: rgb(112, 151, 54);
}

.form-control.error input {
    border-color: red;
}

.form small {
    color: red;
    position: absolute;
    margin-bottom: 10px;
    left: 0;
    font-size: 20px;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form .button {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 25px;
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

#my_Account {
    background-color: #9cd1e9;
    height: 100vh;
    padding-top: 10rem;
}

.user_info {
    height: 100px;
    width: 30rem;
    height: auto;
    margin: auto auto;
    top: 10rem;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
}

.user_info img {
    height: 10rem;
    width: 10rem;
    display: block;
}

.user_info #user_img {
    border: 3px solid black;
    border-radius: 50%;
    width: 10rem;
    margin: auto auto;
    overflow: hidden;
}

.user_content {
    padding-top: 0.5rem;
    text-align: left;
}

.user_content h3 {
    padding: 1rem;
    padding-left: 10rem;
    display: block;
}

.user_info h2 {
    height: 20px;
    width: 30rem;
    padding: 20px;
}

.success {
    height: 100px;
    width: 25rem;
    position: absolute;
    height: auto;
    margin-top: 10rem;
    left: 37%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    padding: 0;
    display: block;
    background-color: white;
}

.success img {
    width: 10rem;
    height: 10rem;
    display: block;
    margin: auto auto;
    margin-top: 20px;
    margin-bottom: 0;
}

.success h2 {
    margin-bottom: 30px;
}

#transact {
    background-color: #9cd1e9;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 20px;
}

.container_two {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    width: 400px;
    margin-top: 120px;
    margin-bottom: 20px;
}

.form {
    padding: 30px 45px;
}

h2 {
    color: rgb(80, 80, 75);
    text-align: center;
    margin: 0 0 20px;
}

.form-control_two {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control_two label {
    color: darkgray;
    display: block;
}

.form-control_two input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.form-control_two textarea {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.form-control_two select {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.form-control_two textarea:focus {
    outline: 0;
    border: 2px solid black;
}

.form-control_two input:focus {
    outline: 0;
    border: 2px solid black;
}

.form small {
    color: red;
    position: absolute;
    margin-bottom: 10px;
    left: 0;
    font-size: 20px;
    visibility: hidden;
}

.form-control_two.error small {
    visibility: visible;
}

.form .button {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 25px;
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

#index {
    background: url(./images/finalbank.jpeg);
}